<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rendering Local Images Using Flask</title>
</head>
<body>
    
<a href="/generate"><button id="generate">Generate an image</button></a>
<div id="xxx"></div>
<script>
    let clicked = false;
    let generate = document.getElementById("generate");
    /*
    generate.addEventListener("click",function(event){
        //const d = new Date();
        //let randID = d.getTime();
        paragraph = document.createElement("p");
        paragraph.innerText ="processing...";
        document.body.append(paragraph);
        
        
        //const v = document.getElementById("xxx");
        //v.innerHTML = "<div>Hello!</div>";     
    });  */
     
        
    
    
</script>


    
</body>
</html>